<div class="container" id="userShow">
<p id="notice"><%= notice %></p>
	<div class="row">
	<div class="col-md-12" >
		<p>
		  <strong>First name:</strong>
		  <%= @user.first_name %>
		</p>

		<p>
		  <strong>Last name:</strong>
		  <%= @user.last_name %>
		</p>

		<p>
		  <strong>Email:</strong>
		  <%= @user.email %>
		</p>

		<p>
		  <strong>Password:</strong>
		  <%= @user.password %>
		</p>
		<button type="button">
		<%= link_to 'Check out the posts', posts_path %>
		</button>
	</div>
	</div>
</div>
