

<p id="notice"><%= notice %></p>




<div class="post">
  <h3 class="insidepost" id="insidetitle">Title</h3>
  <h3 class="insidepost" id="insidelikes">Likes</h3>
  <h3 class="insidepost" id="insidecomments">Comments</h3>
  <h3 class="insidepost" id="insidecreatedby">Created By</h3>
</div>
<div class = "postIndex">
<table>
  

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post %></td>
        <div class= "postAtt">
          <td><%= post.likes %></td>
          <td><%= post.comments.length%></td>
          <td><%= post.user.full_name %></td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Order By likes,', posts_ordered_by_likes_path %>

<%= link_to 'Order By Comments', posts_ordered_by_comments_path %>
</div>
