<div class="container postShow">

  <div class="btn-group" role="group">
      <div class="postShowButtons btn-lg">
        <button type="button"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span><%= link_to ' Like', like_path(@post)%>
        </button>
        <button type="button"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
          <%= link_to ' Dislike', dislike_path(@post)%>
        </button>
        <strong>Likes:<%= @post.likes %></strong>
        <button type="button">
          <%= link_to ' Go Back', posts_path %>
        </button> 
      </div>
  </div>

  
    <div class="row postShowSections">
     
      <div class="col-md-6">
        <div class="postShowTitleSection">
        <h1>
          <%= @post.title %>
        </h1>
        <hr class="hrBar">
        <strong>
            Created By : <%= @post.user.full_name %>
        </strong>
        <h5>
          <%= @post.content %>
        </h5>
        </div>
      </div>

      <div class="col-md-6">
        <div class="postShowCommentSection">

        <h1>Chit-Comments</h1>
        <hr class="hrBar">
        
        <div class="postCommentBox">
          <% @post.comments.each do |reply| %>
            <p class="postComments"><%= reply.post_reply %></p>
          <% end %>
        </div>
          
      
          
        <%= form_for(@new_comment) do |f| %>
          <% if @new_comment.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@new_comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
              <ul>
                <% @new_comment.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="field">
           <!--  <%= f.label :post_reply %><br> -->
            <%= f.text_area :post_reply %>
          </div> 
            <%= f.hidden_field :post_id, value: @post.id %>
            <%= f.hidden_field :user_id, value: @post.user.id %>
          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>
        </div>
      </div>
     
    </div>
 
</div>