<!DOCTYPE html>
<html>
<head>
  <title>Chit-Chat Forum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Advent+Pro' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
</head>
	
<body>
<div class="container" id="navBar">
	<div class="row">

		<div class="col-md-10">
			<h1 id="forumTitle">Chit-Chat Forum</h1>
		</div>

		<div class="col-md-2" id= "homeNav">
			<% if current_user %>
				<strong>Hey there, <%=  current_user.first_name%></strong></br>
			<% elsif current_user == nil%>
			<% end %>

			<% if current_user == nil %>
			<% elsif current_user %>
				<%= link_to "Logout", logout_path%>
			<% end %>
		</div>

	</div>
</div>
<%= yield %>

</body>
</html>
